.hello h2 {
  margin: 0px;
}

.container-paragraph {
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
}

.container-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.grayback {
  background-color: #f7f7f7;
}

.nome_pagina {
  color: rgb(147, 42, 207);
  font-weight: bold;
}

.item_qualquer {
  padding: 5px;
  border-top: 2px transparent solid;
  border-bottom: 2px transparent solid;
  margin: 0px 10px;
  font-weight: bold;
}

.item_selecionado,
.item_qualquer:hover {
  padding: 5px;
  border-top: 2px darkorange solid;
  border-bottom: 2px darkorange solid;
  color: darkorange;
  cursor: pointer;
}

.titulo_pequeno {
  font-size: 13px;
  font-weight: bold;
  color: gray;
}

.subtitulo {
  font-weight: normal;
}

.round {
  border-radius: 50%;
}

.profile-img {
  max-width: 100%;
}

.default_btn {
  border: 1px rgb(147, 42, 207) solid;
  background-color: rgb(147, 42, 207);
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 1em;
  margin-top: 10px;
  margin-right: 10px;
}

.default_btn:hover {
  background-color: white;
  color: rgb(147, 42, 207);
}
svg:hover {
  cursor: pointer;
}

.icone-rede {
  width: 20px;
  margin-right: 10px;
}

.services img {
  width: 25%;
}

.service {
  background-color: white;
}

.service:hover {
  border-left: 5px red solid;
}

.service p {
  color: gray;
}

.trabalhos,
.educacao {
  border-left: dashed black 1px;
  margin-bottom: 100px;
}
footer {
  background: #f7f7f7;
}
.text-footer,
.titulo {
  text-align: center;
}
.first-hr {
  background-color: black;
  width: 18%;
  margin-left: 190%;
  margin-top: -2.5%;
}
.ponto {
  margin-top: -3.27%;
  margin-left: 35%;
}
.second-hr {
  background-color: black;
  width: 13%;
  margin-left: -35%;
  margin-top: -1.8%;
}
.border-address,
.border-email,
.border-call {
  border: 2px dashed orange;
  border-radius: 100%;
  width: 25%;
  margin: auto;
}
.box-address,
.box-email,
.box-call {
  border: 1px solid white;
  box-shadow: 0 0 1em grey;
  border-radius: 10px;
  background: white;
}
.box-address-1,
.box-call-1,
.box-email-1 {
  text-align: center;
  margin-top: 25%;
}
.text-address,
.text-call,
.text-email {
  text-align: center;
}
.img-footer {
  border: 4px solid white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.img-footer img {
  width: 100%;
}
.box-form {
  height: 110%;
  padding: 3%;
  background: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 1em grey;
}
footer button {
  background: #8968b4;
  color: white;
  border-radius: 10px;
  margin-top: 18%;
  font-size: 20px;
  padding: 1%;
}

.fundo-vermelho {
  background: #ff4d57;
  color: white;
  margin: 0 50% 0 0px;
  position: relative;
  padding: 5px;
  margin-left: 20px;
}

.fundo-vermelho:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #ff4d57;
  border-width: 17px;
  margin-top: -17px;
}



.data {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: unset;
}

li {
  display: inline-block;
}

.portfolio-box {
  background-color: #f9f7fe;
}

.myteam {
  text-align: center;
  background: rgb(249, 247, 254);
}
.myteam-img img {
  padding: 6px;
}
.LatestNews {
  text-align: center;
  line-height: 30px;
}
.LatestNews-img-1,
.LatestNews-img-2,
.LatestNews-img-3 {
  text-align: left;
  border: 1px solid white;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
.text-LatestNews {
  font-size: 12px;
  padding: 12px;
  margin-top: -6%;
}
.text-LatestNews-1 a {
  color: black;
  text-decoration: none;
}
.text-LatestNews-1 {
  padding: 12px;
}
.block-LatestNews {
  color: white;
  background: #ff8c00;
  width: 5%;
  text-align: center;
  margin-left: 3%;
  margin-top: -55%;
}
.block-LatestNews-2 {
  color: white;
  background: #ff8c00;
  width: 5%;
  text-align: center;
  margin-left: 36%;
  margin-top: -5%;
}
.block-LatestNews-3 {
  color: white;
  background: #ff8c00;
  width: 5%;
  text-align: center;
  margin-left: 70%;
  margin-top: -5%;
}

.itens-portfolio {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.album-selecionado {
  padding: 5px;
  border-bottom: 2px darkorange solid;
  color: darkorange;
  cursor: pointer;
}

.portfolio img {
  padding-bottom: 25px;
  width: 100%;
}

.testimonial {
  text-align: center;
  box-shadow: 0 5px 15px lightgray;
  border-radius: 10px;
  padding: 50px 10px 50px;
}

.testimonial p {
  font-size: 20px;
  padding: 25px;
  align-items: center;
  color: darkslateblue;

}

.testimonial img {
  
  width: 200px;
  border-radius: 50%;
  padding: 30px;
}

.estrelas svg {
  width: 18px;
  height: 18px;
  fill: gold;
  margin: 1px;
}

.nome {
  font-size: 20px;
  padding: 5px;
  color: darkslateblue;
  font-weight: bold;
}

.profissao {
  font-size: 15px;
  padding: 5px;
  color: gray;
}

.curriculo-completo h2 {
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.curriculo {
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
  display: relative;
  margin-top: -40px;
}

.curriculo, p {
  padding-top: 10px;
}

.ponto-curriculo {
  width: 25px;
  margin-left: -12.5px;
  position: relative;
}

.curriculo-completo h4 {
  text-transform: uppercase;
  font-size: 15px;
}

.my-portfolio {
  text-align: center;
  background: rgb(249, 247, 254);
}
